:root {
    /* font-size */
    --fs-36: 36px;
    --fs-18: 18px;
    --fs-22: 22px;
    --fs-28: 28px;
    --fs-35: 35px;
    --fs-48: 48px;
    --fs-76: 76px;
    --fs-96: 96px;
    /* font-weight */
    --fw-400: 400;
    --fw-500: 500;
    --fw-600: 600;
    --fw-700: 700;
}

.fs-36 {
    font-size: var(--fs-36);
}

.fs-18 {
    font-size: var(--fs-18);
}

.fs-22 {
    font-size: var(--fs-22);
}

.fs-28 {
    font-size: var(--fs-28);
}

.fs-35 {
    font-size: var(--fs-35);
}

.fs-48 {
    font-size: var(--fs-48);
}

.fs-76 {
    font-size: var(--fs-76);
}

.fs-96 {
    font-size: var(--fs-96);
}





.fw-400 {
    font-weight: var(--fw-400);
}

.fw-500 {
    font-weight: var(--fw-500);
}

.fw-600 {
    font-weight: var(--fw-600);
}

.fw-700 {
    font-weight: var(--fw-700);
}

@media (max-width:1200px) {

    .position-absolute1 {
        position: absolute;
        top: 154%;
        left: 22%;
    }
}

@media (max-width:992px) {
    .box2 {
        border: none;
    }

    .position-absolute1 {
        position: absolute;
        top: 122%;
        left: 15%;
    }

}

@media (max-width:768px) {

    .position-absolute1 {
        position: absolute;
        top: 108%;
        left: 15%;
    }



}

@media (max-width:576px) {

    .box1 {
        width: 70%;
    }

    .card1 {
        width: 340px;
        height: 233px;
    }

    .position-absolute1 {
        position: absolute;
        top: 100%;
        left: 13%;
    }


    .bg-image1 {
        background-image: url(../image/1section_image1.png);
        background-position: left;
        background-size: cover;
        background-repeat: no-repeat;
    }
}

@media (max-width:400px) {


    .card1 {
        width: 287px;
        height: 230px;
    }

    .position-absolute1 {
        position: absolute;
        top: 79%;
        left: 11%;
    }
}

@media (min-width:768px) and (max-width:992px) {
    :root {
        --fs-36: 36px;
        --fs-18: 18px;
        --fs-22: 22px;
        --fs-28: 28px;
        --fs-35: 35px;
        --fs-48: 48px;
        --fs-76: 76px;
        --fs-96: 96px;
    }
}

@media (min-width:576px) and (max-width:768px) {
    :root {
        --fs-36: 32px;
        --fs-18: 18px;
        --fs-22: 22px;
        --fs-28: 28px;
        --fs-35: 30px;
        --fs-48: 48px;
        --fs-76: 60px;
        --fs-96: 96px;
    }
}

@media (max-width:576px) {
    :root {
        --fs-36: 30px;
        --fs-18: 18px;
        --fs-22: 18px;
        --fs-28: 24px;
        --fs-35: 26px;
        --fs-48: 35px;
        --fs-76: 40px;
        --fs-96: 96px;
    }
}